#Christoffer
Christoffer Paulsen <chripaul@stud.ntnu.no>
Christoffer Paulsen <chripaul@stud.ntnu.no> chripaul <chripaul@stud.ntnu.no>
Christoffer Paulsen <chripaul@stud.ntnu.no> Christoffer Paulsen <christoffer.paulsen79@gmail.com>
Christoffer Paulsen <chripaul@stud.ntnu.no> Chris <christoffer.paulsen79@gmail.com>

#Milos
Milos Pilipovic <milospi@stud.ntnu.no>

#Mirjam
Mirjam Liodden <mirjam.liodden@ntnu.no>
Mirjam Liodden <mirjam.liodden@ntnu.no> MirjamLiodden <151381038+MirjamLiodden@users.noreply.github.com>

#Inga
Inga Haifa Kvernberg Dajani <ihdajani@stud.ntnu.no>
Inga Haifa Kvernberg Dajani <ihdajani@stud.ntnu.no> Inga Dajani <ingadajani@Inga-sin-Brbar-datamaskin.local>
Inga Haifa Kvernberg Dajani <ihdajani@stud.ntnu.no> Inga Dajani <ingadajani@dhcp-10-24-44-62.wlan.ntnu.no>
Inga Haifa Kvernberg Dajani <ihdajani@stud.ntnu.no> Inga Dajani <ingadajani@dhcp-10-22-61-28.wlan.ntnu.no>
Inga Haifa Kvernberg Dajani <ihdajani@stud.ntnu.no> Inga Dajani <ingadajani@dhcp-10-22-62-77.wlan.ntnu.no>
Inga Haifa Kvernberg Dajani <ihdajani@stud.ntnu.no> Inga Dajani <ingadajani@dhcp-10-24-45-215.wlan.ntnu.no>
Inga Haifa Kvernberg Dajani <ihdajani@stud.ntnu.no> Inga Dajani <ingadajani@dhcp-10-22-60-127.wlan.ntnu.no>
